body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

html {
  background-color: #FFCA00
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.buzz {
  color: white;
  font-size: 3rem;
  text-shadow: 1px 1px 1px black
}

.landing-btn {
  display: flex;
  flex-direction: column;
}

.landing-link {
  padding: 10px;
  background-color: grey;
  margin: 5px;
  align-self: center;
  text-decoration: none;
  color: white;
  border: 0px solid transparent;
  border-radius: 10px;
}

.landing-link:hover {
  box-shadow: 1px 1px 1px black
}

.name-input {
  color: white;
  text-shadow: 0.5px 0.5px 1px black;
}

.create-game {
  width: 40vw;
}

.create-form {
  display: flex;
  align-items: center;
}

.game-view {
  width: 70vw;
  background-color: rgba(155, 155, 155, 0.685);
  border: 2px solid white;
  border-radius: 10px
}

.top-bar div {
  color: white;
  font-size: 1.5rem;
  padding-left: 8px;
  padding-right: 8px;
}

.game-main {
  display: flex;
  justify-content: space-around;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(112, 112, 112, 0.829);
  border: 1px solid transparent;
  border-bottom: 2px solid white;
  border-radius: 10px 10px 0px 0px;
}

.player-icon {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  background-color: rgb(85, 84, 84);
  margin: 5px;
  border: 1px solid transparent;
  border-radius: 15px;
}

.player-name {
  font-size: 1.3rem;
}

.admin-activate {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 95px;
}

.player-icon-selected {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  background-color: #ffbf00af;
  margin: 5px;
  border: 5px solid gray;
  border-radius: 15px;
}

.player-list {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  height: 400px;
  align-items: center;
  justify-content: center;
}

.buzz-btn {
  height: 300px;
  width: 300px;
  background-color: red;
  border: 5px solid black;
  border-radius: 150px;
}

.buzz-name {
  text-align: center;
}

.buzz-btn:active {
  background-color: red;
  border: 8px solid black
}

.buzz-btn:visited {
  background-color: red;
}
.scoreboard {
  width: 30%;
  background-color: rgba(172, 172, 172, 0.733);
  border-left: 2px solid white
}

.player-score {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(160, 159, 159, 0.76);
  margin-bottom: 2px;
}

.score-name{
  padding-left: 5px;
  font-size: 1.2rem;
}

.score {
  font-size: 1.8rem;
  padding-right: 5px;
}

.score-title {
  font-size: 1.2rem;
  padding-left: 5px;
  color: white;
  font-weight: bold;
  background-color: rgba(128, 128, 128, 0.753);
}

.admin-panel {
  background-color: rgb(222, 222, 223);
  border: 1px solid transparent;
  border-top: 2px solid white;
  border-radius: 0px 0px 8px 8px;
}

.empty-score {
  text-align: center;
}


@media (max-width: 600px) {
  .buzz{
    font-size: 2.5rem;
  }
}

@media (max-width: 450px) {
  .buzz{
    font-size: 2rem;
  }
}

@media (max-width: 350px) {
  .buzz{
    font-size: 1.5rem;
  }
}


